<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seo>
            <canonical>
                <canonical_tag_enabled>0</canonical_tag_enabled>
                <remove_trailing_slash>0</remove_trailing_slash>
                <canonical_pagination_enabled>0</canonical_pagination_enabled>
                <og_url_match_canonical_enabled>1</og_url_match_canonical_enabled>
            </canonical>
            <category>
                <prev_next_link_enabled>0</prev_next_link_enabled>
            </category>
        </seo>
    </default>
</config>
